.modal {
    &.modal--hide {
        display: none !important;
    }

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);

    display: flex;
    justify-content: center;
    align-items: center;

    .modal__inner {
        padding: 1em;
        min-height: 300px;
        min-width: 300px;
        background-color: white;
        position: relative;
    }

    .modal__closeButton {
        position: absolute;
        top: -6px;
        right: -6px;
    }
}