@import "../../core/globals/variables.scss";

.signup {
    .signup__errors {
        & > div {
            margin-bottom: 0.5em;
        }
    }
    .signup__inputContainer {
        margin: 1em 0;
        width: 100%;

        @include breakpoint("md") {
            padding-right: 1em;
        }

        &.signup__inputContainer--birthday {
            & > span {
                display: block;
            }
        }

        &.signup__inputContainer.signup__inputContainer--height {
            display: flex;
            flex-flow: row wrap;

            label {
                width: 100%;
            }

            input { 
                width: 50%;
                padding-left: 1em;
            }
        }
    }

    .ReactPasswordStrength {

        .ReactPasswordStrength-input {
            width: 100%;
            font-size: 14px;
        }

        .ReactPasswordStrength-strength-desc {
            color: transparent;
            font-style: italic;
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
            transition: color 250ms ease-in-out;
            width: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
    
        }
    }
}

.signup--notification {
    button {
        margin-right: 6px;
    }
}