@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:700');
// @import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
@import "../globals/variables.scss";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    a {
        color: $dark_blue;
    }
}

// h1, h2, h3, h4, h5, h6 {
//     font-family: 'Source Sans Pro', sans-serif;
// }

