@import "../helpers/breakpoints.scss";
@import "../globals/variables.scss";

body {
    // background-color: $light_blue;
    background-color: #fefefe;
    color: $dark_blue !important;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;

    @include breakpoint("md") {
        max-width: 760px;
    }

    @include breakpoint('lg') {
        max-width: 1080px;
    }
}

.page-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.contentContainer {
    // padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
}

.pill {
    padding: 1em;
    border-radius: 3px;
    background-color: #fefefe;
    // margin: 1em 0;
    // background-color: $medium_blue;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

input,
select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

button {
    font-size: 12px;
}

label {
    font-weight: 700;
}

.input-container {
    margin: 1em 0;
    width: 100%;

    @include breakpoint("md") {
        // width: 50%;
        padding-right: 1em;
    }

    &.input-container--half {
        @include breakpoint("md") {
            width: 50%;
        }
    }

    &.signup__inputContainer--birthday {
        &>span {
            display: block;
        }
    }

    &.signup__inputContainer.signup__inputContainer--height {
        display: flex;
        flex-flow: row wrap;

        label {
            width: 100%;
        }

        input {
            width: 50%;
            padding-left: 1em;
        }
    }

    .input-container--info {
        display: block;
        font-size: 0.75em;
        font-style: italic;
        margin: 6px 0 12px;
    }
}

.text--right {
    text-align: right;
}

.text--left {
    text-align: left;
}

.text--center {
    text-align: center;
}

@for $i from 1 through 100 {

    .marY--#{$i} {
        margin-top: $i + px;
        margin-bottom: $i + px;
    }

    .marX--#{$i} {
        margin-left: $i + px;
        margin-right: $i + px;
    }
}