@import "../helpers/breakpoints.scss";

body {
    background-color: #efefef;
    color: #333;
}

.container {
    width: 100%;
    margin: 0 auto;

    @include breakpoint("md") {
        max-width: 760px;
    }

    @include breakpoint('lg') {
        max-width: 1080px;
    }
}

.pill {
    padding: 1em;
    border-radius: 3px;
    background-color: #fefefe;
    margin: 1em 0;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
}