@import "../helpers/breakpoints.scss";

body {
    background-color: #efefef;
    color: #333;
}

.container {
    width: 100%;
    margin: 0 auto;

    @include breakpoint("md") {
        max-width: 760px;
    }

    @include breakpoint('lg') {
        max-width: 1080px;
    }
}

.pill {
    padding: 1em;
    border-radius: 3px;
    background-color: #fefefe;
    margin: 1em 0;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
}

input,
select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

label {
    font-weight: 700;
}