// Palette URL
// https://www.design-seeds.com/edible-hues/culinary-color/fresh-hues-5/

$primary_color: #272E48;

$light_blue: #E6F0F0;
$medium_blue: #AEBDC7;
$dark_blue: #272E48;

$red: #D35348;
$orange: #F9C680;
$peach: #F3E4D8;
