.loggingProgress {
    display: flex;
    justify-content: space-between;

    & > div {
        width: 100%;
    }

    .loggingProgress__addButtons {
        button {
            margin-left: 0.5em;
        }
    }

    .logginProgress__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
}