.meal {
    margin: 1em 0;
    
    .meal__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logProgress__settings {
    background-color: $medium_blue;
    margin-bottom: 1em;

    .logProgress__date {
        text-align: right;

        strong {
            margin: 0 1em;
        }
    }
}

.loggedFoods {

    .loggedFood {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 6px 0;

        &:not(:last-of-type) {
            border-bottom: 1px solid #ddd;
        }

        & > * {
            flex: 1;
        }

        .loggedFood--remove {
            color: red;
            font-size: 1.35em;
            flex: 0 8%;
            text-align: center;

            &:hover {
                color: darkred;
                cursor: pointer;
            }
        }
    }
}