@import "../../core/globals/variables.scss";

.addFoodComponent__submitButtons {
    text-align: center;
}

.addFood__searchResults {
    label {
        display: block;
    }

    // position: absolute;
    max-height: 14em;
    overflow: auto;
    // background-color: white;

    .addFood__searchResult {
        padding: 6px;
        text-transform: capitalize;

        .searchResult--calories {
            font-weight: 700;
            text-align: right;
            display: block;
        }

        &:hover {
            cursor: pointer;
            color: $primary_color;
        }
    }
}